body {
  width: 100vw;
}

/* jobs page */
.allJobs {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.urgentJobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 130px;
}

.urgentCheckBox {
  width: 50px;
  height: 50px;
}

.urgentJobData {
  width: 42.5%;
  background-color: #004f94;
  /* background-color: #adff2f; */
  border-style: solid;
  border-width: 6px;
  margin: 10px;
  font-size: 40px;
  line-height: 65px;
  padding: 20px;
  color: white;
}

.jobTypeUrgent {
  font-size: 55px;
  color: white;
  font-weight: 750;
  word-break: break-word;
}

.jobData {
  width: 42.5%;
  background-color: #fffdd0;
  border-style: solid;
  margin: 10px;
  font-size: 40px;
  padding: 20px;
}

.jobData.yellow {
  background-color: white;
}

.jobForm.yellow {
  background-color: white;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.buttonsAndFilters {
  margin-top: 80px;
}

.filter {
  width: 100%;
  font-size: 50px;
}

#jobDetails {
  margin: 10px;
  padding: 10px;
  padding-top: 80px;
}

.jobDetails p {
  font-size: 100px;
}

.btn {
  background-color: #f1f1f1;
  border: none;
  color: black;
  margin-right: 20px;
  font-size: 76px;
  cursor: pointer;
  right: 0;
  top: 0;
  position: absolute;
}

/* job form */
.formQuestions {
  font-size: 40px;
}

.formInputs {
  font-size: 50px;
  width: 100%;
  height: 60%;
  margin-bottom: 35px;
  border-style: solid;
  border-width: medium;
}

.jobForm {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 20px;
}

.radio {
  width: 3em;
  height: 3em;
  margin-right: 25px;
  margin-bottom: 30px;
}

#listo {
  width: 50%;
  height: 100px;
  font-size: 50px;
  background-color: dodgerblue;
  color: white;
  margin-top: 50px;
}

/* confirm page */
.jobConfirmPage {
  margin: 40px;
  padding: 20px;
}

.confirmButtons {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.jobDetailsText {
  font-size: 45px;
  margin: 50px;
}

td {
  padding: 15px;
}

.modal {
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;
  background: #f1f1f1;
  border-style: solid;
  width: 93%;
  height: 83%;
  top: 50%;
  left: 50%;
  color: black;
  display: flex;
}

.jobMoment {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-style: oblique;
}

label {
  font-size: 30px;
}

/* Login & Registration Page */

.login-container {
  text-align: center;
}

.login-centering {
  display: inline-block;
}

.underline-link {
  color: #365899;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.ta {
  color: #777;
  font-size: 11px;
  width: 316px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error {
  color: red;
  font-size: 24px;
  animation: blinker 1s linear infinite;
}
Urgent @keyframes blinker {
  50% {
    opacity: 0;
  }
}

.LoginOrRegister {
  width: 330px;
  height: 130px;
  font-size: 40px;
}

.heading-1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
}

.restName {
  word-break: break-word;
}

.busca {
  font-style: italic;
}

.jobType {
  font-size: 45px;
  font-weight: 900;
  word-break: break-word;
}

.switch {
  height: 70px;
  width: 70px;
}

#urgentCheckedContainer {
  margin: 60px;
  text-align: center;
}

.UrgentCheckedText {
  font-size: 40px;
}

#urgentExample {
  width: 120%;
  height: 120%;
}

#si {
  font-size: 52px;
  margin-right: 30px;
  font-weight: 750;
  font-style: bold;
  color: navy;
}

#urgentCheckBox {
  width: 70px;
  height: 70px;
  border: 1em solid #000;
  background-color: blue;
  color: blue;
}

#sellingPitchInForm {
  font-size: 15px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1000px) {
  .jobData,
  .urgentJobData {
    width: 15.5%;
    font-size: 20px;
  }

  .urgentJobData {
    line-height: 40px;
  }

  .filter {
    position: relative;
    left: 400px;
    font-size: 30px;
  }

  .allJobs {
    margin-top: 60px;
  }

  .jobType {
    font-size: 25px;
  }

  .jobMoment {
    font-size: 17px;
  }

  .formQuestions {
    font-size: 27px;
  }

  .formInputs {
    height: 30px;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .radio {
    width: 2em;
    height: 2em;
  }

  #urgentCheckBox {
    width: 30px;
    height: 30px;
  }

  #si {
    font-size: 25px;
  }

  .btn-primary,
  button[type="submit"] {
    color: white;
    background: #0074d4;
  }
  .btn-secondary {
    background: #fffdd0;
    color: #000;
  }

  .btn-secondary,
  .btn-primary,
  input[type="button"],
  button {
    font-weight: bold;
    padding: 20px;
    font-size: 50px;
    width: 100%;
    margin: 0 0 12px;
    box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
      0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    border: 0;
    border-radius: 6px;
    transition: all 0.2s ease, box-shadow 0.08s ease-in;
  }

  .jobTypeUrgent {
    font-size: 35px;
  }

  #urgentExample {
    width: 550px;
  }

  #urgentCheckedContainer {
    text-align: left;
  }

  .UrgentCheckedText {
    font-size: 30px;
    margin-top: -60px;
  }

  #UrgentCheckedButtonYES,
  #UrgentCheckedButtonNO {
    width: 530px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
  }
}
