body {
  width: 100vw;
}

/* jobs page */
.allJobs {
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.urgentJobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 130px;
}

.urgentCheckBox {
  width: 50px;
  height: 50px;
}

.urgentJobData {
  width: 42.5%;
  background-color: yellow;
  border-style: solid;
  border-width: 6px;
  margin: 10px;
  font-size: 40px;
  padding: 20px;
}

.jobData {
  width: 42.5%;
  background-color: #b0dfe5;
  border-style: solid;
  margin: 10px;
  font-size: 40px;
  padding: 20px;
}

.jobData.yellow {
  background-color: white;
}

.jobForm.yellow {
  background-color: white;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.filtersbutton {
  display: inline-block;
  display: flex;
  flex-wrap: nowrap;
  margin: 30px;
  margin-top: 80px;
}

.filters {
  /* margin: 50px; */
  display: flex;
}

.filter {
  height: 80px;
  width: 260px;
  font-size: 30px;
  margin: 12px;
  background-color: #f1f1f1;
  left: 90px;
  position: absolute;
}

#createJob {
  height: 100px;
  width: 300px;
  font-size: 40px;
  margin-right: 10px;
  background-color: dodgerblue;
  float: right;
  right: 100px;
  position: absolute;
  color: white;
  font-weight: bold;
}

/* job details page */
#jobDetails {
  margin: 10px;
  padding: 10px;
  padding-top: 80px;
}

.jobDetails p {
  font-size: 100px;
}

.btn {
  background-color: #f1f1f1;
  border: none;
  color: black;
  margin-right: 20px;
  font-size: 76px;
  cursor: pointer;
  right: 0;
  top: 0;
  position: absolute;
}

/* job form */
.formQuestions {
  font-size: 40px;
}

.formInputs {
  font-size: 50px;
  width: 60%;
  height: 60%;
  margin-bottom: 35px;
  border-style: solid;
  border-width: medium;
}

.jobForm {
  margin: 40px;
  padding: 20px;
}

.radio {
  width: 3em;
  height: 3em;
  margin-right: 25px;
  margin-bottom: 30px;
}

#listo {
  width: 50%;
  height: 100px;
  font-size: 50px;
}

/* confirm page */
.jobConfirmPage {
  margin: 40px;
  padding: 20px;
}

.confirmButton {
  width: 300px;
  height: 100px;
  font-size: 50px;
  margin: 30px;
}

.confirmButtons {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.jobDetailsText {
  font-size: 45px;
  margin: 50px;
}

td {
  padding: 15px;
}

.confirmTitle {
  margin-bottom: 100px;
  font-size: 45px;
}

.modal {
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 2;
  background: #f1f1f1;
  border-style: solid;
  width: 93%;
  height: 83%;
  top: 50%;
  left: 50%;
  color: black;
  display: flex;
}

.jobMoment {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-style: oblique;
}

label {
  font-size: 30px;
}

/* Login & Registration Page */

.login-container {
  text-align: center;
}

.login-centering {
  display: inline-block;
}

.underline-link {
  color: #365899;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.ta {
  color: #777;
  font-size: 11px;
  width: 316px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error {
  color: red;
  font-size: 24px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.LoginOrRegister {
  width: 330px;
  height: 130px;
  font-size: 40px;
}

#title {
  font-size: 50px;
  text-align: center;
}

.restName {
  color: black;
}

.busca {
  color: black;
  font-style: italic;
}

.jobType {
  font-size: 45px;
  color: black;
  font-weight: 900;
}

.switch {
  height: 70px;
  width: 70px;
}

#urgentCheckedContainer {
  margin: 60px;
  text-align: center;
}

#UrgentCheckedTitle {
  font-size: 50px;
}

.UrgentCheckedText {
  font-size: 40px;
}

#UrgentCheckedButtonYES {
  width: 80%;
  height: 200px;
  font-size: 49px;
  margin: 20px;
  background-color: yellow;
}

#UrgentCheckedButtonNO {
  width: 80%;
  height: 200px;
  font-size: 49px;
  margin: 20px;
  background-color: #b0dfe5;
}

#urgentExample {
  width: 120%;
  height: 120%;
}

#si {
  font-size: 60px;
  margin-right: 30px;
}

#urgentCheckBox {
  width: 50px;
  height: 50px;
}
